<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.108.0" />
    <title>Memory home page</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.3/examples/blog-rtl/"
    />

    <link href="css/bootstrap.rtl.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link
      href="https://fonts.googleapis.com/css?family=Amiri:wght@400;700&amp;display=swap"
      rel="stylesheet"
    />
    <!-- Custom styles for this template
    <link href="../blog/blog.rtl.css" rel="stylesheet" /> -->
  </head>
  <body>
    <div class="container">
      <header class="blog-header lh-1 py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <!-- <a class="link-secondary" href="#"></a> -->
          </div>
          <div class="col-4 text-center">
            <h1>Memory</h1>
            <!-- <a class="blog-header-logo text-dark" href="#">Memory</a> -->
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <!-- <a class="link-secondary" href="#" aria-label="بحث">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>بحث</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
        </a> -->
            <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
          </div>
        </div>
      </header>

      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 link-secondary" href="#">Photo Album</a>
          <a class="p-2 link-secondary" href="#">Write something</a>
        </nav>
      </div>
    </div>

    <main class="container">
      <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 fst-italic">精选帖子的标题更长</h1>
          <p class="lead my-3">精选帖子的标题更长</p>
          <p class="lead mb-0">
            <a href="#" class="text-white fw-bold">继续阅读...</a>
          </p>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6">
          <div
            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
          >
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Sky</strong>
              <h3 class="mb-0">violent, calm, serene, and loud</h3>
              <div class="mb-1 text-muted">Dec</div>
              <p class="card-text mb-auto">Some beautiful Sky</p>
              <a href="#" class="stretched-link">Read more</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg
                class="bd-placeholder-img"
                width="200"
                height="250"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-label="Placeholder:text"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
              >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" />
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">text</text>
              </svg>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
          >
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-success">Building</strong>
              <h3 class="mb-0">majestic and spectacular</h3>
              <div class="mb-1 text-muted">Jan</div>
              <p class="mb-auto">Some beautiful buildings</p>
              <a href="#" class="stretched-link">Read more</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg
                class="bd-placeholder-img"
                width="200"
                height="250"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-label="Placeholder: text"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
              >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" />
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">text</text>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <!-- <h3 class="pb-4 mb-4 fst-italic border-bottom">من Firehose</h3> -->

          <article class="blog-post">
            <h2 class="blog-post-title mb-1">Little princess</h2>
            <p class="blog-post-meta">
              Recorder<a href="#"> Mark </a>
            </p>

            
            <hr />
            <p>
              “When people are insulting you, there is nothing so good for them
              as not to say a word — just to look at them and think. When you
              will not fly into a passion people know you are stronger than they
              are, because you are strong enough to hold in your rage, and they
              are not, and they say stupid things they wished they hadn’t said
              afterward. There’s nothing so strong as rage, except what makes
              you hold it in — that’s stronger. It’s a good thing not to answer
              your enemies.”
            </p>
            <!-- <blockquote>
          <p>تشغل الزراعة مساحات كبيرة من اليابسة، وتستهلك كميات هائلة من المياه، كما أن إنتاج الغذاء بواسطة الزراعة يسهم بنسبة عالية من انبعاثات غازات الاحتباس الحراري العالمية</p>
        </blockquote> -->
            
            <!-- <pre><code>Example code block</code></pre> -->
          </article>

          <nav class="blog-pagination" aria-label="Pagination">
            <a class="btn btn-outline-primary rounded-pill" href="#"
              >Read more</a
            >
            <!-- <a class="btn btn-outline-secondary rounded-pill disabled">تدوينات أحدث</a> -->
          </nav>
        </div>

        <div class="col-md-4">
          <div class="position-sticky" style="top: 2rem">
            <div class="p-4 mb-3 bg-light rounded">
              <h4 class="fst-italic">kindness</h4>
              <p class="mb-0">
                “If nature has made you for a giver, your hands are born open, and so is your heart; and though there may be times when your hands are empty, your heart is always full, and you can give things out of that — warm things, kind things, sweet things–help and comfort and laughter — and sometimes gay, kind laughter is the best help of all.”
              </p>
            </div>

            <div class="p-4">
              <h4 class="fst-italic">Date</h4>
              <ol class="list-unstyled mb-0">
                <li><a href="#">Jan 2023</a></li>
                <li><a href="#">Dec 2022</a></li>
                <!-- <li><a href="#">يناير 2021</a></li>
            <li><a href="#">ديسمبر 2020</a></li>
            <li><a href="#">نوفمبر 2020</a></li>
            <li><a href="#">أكتوبر 2020</a></li>
            <li><a href="#">سبتمبر 2020</a></li>
            <li><a href="#">اغسطس 2020</a></li>
            <li><a href="#">يوليو 2020</a></li>
            <li><a href="#">يونيو 2020</a></li>
            <li><a href="#">مايو 2020</a></li>
            <li><a href="#">ابريل 2020</a></li> -->
              </ol>
            </div>

            <!-- <div class="p-4">
          <h4 class="fst-italic">في مكان آخر</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div> -->
          </div>
        </div>
      </div>
    </main>

    <footer class="blog-footer">
      <br />
      <!-- <p>
    <a href="#!">Sharing Suggestions</a>
  </p> -->
      <p>
        <a href="#!">Sharing Suggestions</a>
      </p>
    </footer>
  </body>
</html>
